<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueueStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.QueueStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSuccessServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PaymentSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PaymentCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueueStatusServlet</servlet-name>
        <url-pattern>/QueueStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/AnalyticsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSuccessServlet</servlet-name>
        <url-pattern>/PaymentSuccessServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <url-pattern>/PaymentCancelServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <url-pattern>/DeleteAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403 </error-code>
        <location>/forbidden.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>AdminResources</web-resource-name>
            <description>Resources available to admin</description>
            <url-pattern>/admin_dashboard.jsp</url-pattern>
            <url-pattern>/analytics_dashboard.jsp</url-pattern>
            <url-pattern>/queue_outcome.jsp</url-pattern>
            <url-pattern>/status_outcome_success.jsp</url-pattern>
            <url-pattern>/AdminDashboardServlet.do</url-pattern>
            <url-pattern>/AnalyticsServlet.do</url-pattern>
            <url-pattern>/DeleteAppointmentServlet.do</url-pattern>
            <url-pattern>/QueueStatusServlet.do</url-pattern>
            <url-pattern>/UpdateStatusServlet.do</url-pattern>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authenticate admin role</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>UserConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>UserResources</web-resource-name>
            <description>Resources available to user</description>
            <url-pattern>/book.jsp</url-pattern>
            <url-pattern>/booking_success.jsp</url-pattern>
            <url-pattern>/booking_error.jsp</url-pattern>
            <url-pattern>/cancel.jsp</url-pattern>
            <url-pattern>/confirmation.jsp</url-pattern>
            <url-pattern>/BookAppointmentServlet.do</url-pattern>
            <url-pattern>/PaymentCancelServlet.do</url-pattern>
            <url-pattern>/PaymentCancelServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authenticate user</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>The admin role. This role runs everything</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>The user role.User can book and pay</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
